<%- include('./partials/header') %>
<link rel="stylesheet" href="/css/home.css">

<div class="home-container">
  <h2>👋 Bienvenido, <%= nombre_completo %></h2>

  <div class="card-grid">
    <a href="/usuarios" class="card">Usuarios</a>
    <a href="/productos" class="card">Productos</a>
    <a href="/ventas" class="card">Ventas</a>
    <a href="/listaRoles" class="card">Roles</a>
  </div>
</div>
