<aside id="sidebar" class="sidebar">
  <ul>
    <li><a href="/ventas">Ventas</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/usuarios">Usuarios</a></li>
    <li><a href="/listaRoles">Roles</a></li>
  </ul>
</aside>
